<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>635483884049-bv97nli09l41kn2a2kc3ma2sa28mistd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635483884049-bv97nli09l41kn2a2kc3ma2sa28mistd</string>
	<key>API_KEY</key>
	<string>AIzaSyC9eRq1tEy2Vmpj33VsMV3FEv8l-tvCWzE</string>
	<key>GCM_SENDER_ID</key>
	<string>635483884049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.cis357hw3</string>
	<key>PROJECT_ID</key>
	<string>cis357-convcalcappios</string>
	<key>STORAGE_BUCKET</key>
	<string>cis357-convcalcappios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635483884049:ios:7f953ea84e6859db</string>
	<key>DATABASE_URL</key>
	<string>https://cis357-convcalcappios.firebaseio.com</string>
</dict>
</plist>